@page "/agreement-page"
@model AgreementPageModel
@{
    ViewBag.Title = Model.Data.Title;
}

<header class="p-5 text-center">
    <h1>@Model.Data.Title</h1>
</header>

<main>
    @foreach (var block in Model.Data.Blocks)
    {
        Write(Html.DisplayFor(m => block, block.GetType().Name));
    }
</main>
<form method="post">
    <div class="mt-4 d-flex justify-content-end">
        <input asp-for="PageId" type="hidden" value="@Model.Data.Id" />
        <input class="form-control mr-2" asp-for="Signer" placeholder="Your Full Legal Name" />
        <input class="btn btn-primary" asp-for="SubmitAction" type="submit" value="Agree" />
        <input class="btn btn-link mr-2" asp-for="SubmitAction" type="submit" value="Cancel" />
    </div>
</form>
