@page "/basic-page"
@model SinglePage<BasicPage>
@{
    ViewBag.Title = Model.Data.Title;
}

<header class="p-5 text-center">
    <h1>@Model.Data.Title</h1>
</header>

<main>
    @foreach (var block in Model.Data.Blocks)
    {
        Write(Html.DisplayFor(m => block, block.GetType().Name));
    }
</main>