@page "/membership/payment-methods/add-initial"
@model BodyGenesis.Presentation.Website.Pages.Membership.AddPaymentMethodsModel
@{
    ViewData["Title"] = "Payment Methods";
}

@section scripts {
<script>
    const continueButton = document.querySelector(".continue-button");

    for (let i = 1; i < 3; i++) {
        document.getElementById(`PaymentMethod${i}_Type`).addEventListener("change", e => {
            const type = Number.parseInt(e.target.value);
            const routingNumber = document.getElementById(`routing_number_${i}`);
            const accountNumber = document.getElementById(`account_number_${i}`);
            const expirationDate = document.getElementById(`expiration_date_${i}`);

            routingNumber.classList.remove("d-none");
            routingNumber.classList.add("d-none");
            routingNumber.querySelector("input").required = false;

            expirationDate.classList.remove("d-none");
            expirationDate.classList.add("d-none");
            expirationDate.querySelector("input").required = false;

            if (type == 0) {
                accountNumber.querySelector("label").innerText = "Account Number";
                routingNumber.classList.remove("d-none");
                routingNumber.querySelector("input").required = true;
            }

            else if (type == 1) {
                accountNumber.querySelector("label").innerText = "Card Number";
                expirationDate.classList.remove("d-none");
                expirationDate.querySelector("input").required = true;
            }

            continueButton.disabled = (document.getElementById("PaymentMethod1_Type").value == "none") || (document.getElementById("PaymentMethod2_Type").value == "none");
        });
    }
</script>
}

<form method="post">
    <div class="form-row mb-4">
        <div class="col">
            <h3>Add Payment Methods</h3>
        </div>
    </div>
    <div class="form-row mb-4 text-center">
        <div class="col">
            <strong>You will be charged $@Model.MembershipSubscription.Plan.GetRateForQuantity(Model.MembershipSubscription.Quantity) @Model.MembershipSubscription.Plan.BillingPeriod.ToDisplayText(). Your first charge will include a $20 keyfob fee.</strong>
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">
            <p>
                We require that you keep at least two payment methods on file with us to ensure your membership isn't unexpectedly cancelled due to non-payment.
                Please add your first two here (you can add more later on the membership screen if you'd like).
            </p>
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Payment Method 1</h5>
                    <div class="form-group mb-2">
                        <label class="font-weight-bold" for="PaymentMethod1_Type">Type</label>
                        <select class="form-control" asp-for="PaymentMethod1.Type" asp-items="Model.PaymentMethodTypeOptions" required>
                            <option disabled hidden selected value="none">Select a Payment Method Type</option>
                        </select>
                    </div>
                    <div id="routing_number_1" class="form-group mb-2 d-none">
                        <label class="font-weight-bold" for="PaymentMethod1_RoutingNumber">Routing Number</label>
                        <input class="form-control" asp-for="PaymentMethod1.RoutingNumber" type="text" />
                    </div>
                    <div id="account_number_1" class="form-group mb-2">
                        <label class="font-weight-bold" for="AccountNumber1">Account Number</label>
                        <input class="form-control" asp-for="AccountNumber1" type="text" required />
                    </div>
                    <div id="expiration_date_1" class="form-group mb-2 d-none">
                        <label class="font-weight-bold" for="PaymentMethod1_ExpirationDate">Expiration Date</label>
                        <input class="form-control" asp-for="PaymentMethod1.ExpirationDate" type="month" />
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Payment Method 2</h5>
                    <div class="form-group mb-2">
                        <label class="font-weight-bold" for="PaymentMethod2_Type">Type</label>
                        <select class="form-control" asp-for="PaymentMethod2.Type" asp-items="Model.PaymentMethodTypeOptions" required>
                            <option disabled hidden selected value="none">Select a Payment Method Type</option>
                        </select>
                    </div>
                    <div id="routing_number_2" class="form-group mb-2 d-none">
                        <label class="font-weight-bold" for="PaymentMethod2_RoutingNumber">Routing Number</label>
                        <input class="form-control" asp-for="PaymentMethod2.RoutingNumber" type="text" />
                    </div>
                    <div id="account_number_2" class="form-group mb-2">
                        <label class="font-weight-bold" for="AccountNumber2">Account Number</label>
                        <input class="form-control" asp-for="AccountNumber2" type="text" required />
                    </div>
                    <div id="expiration_date_2" class="form-group mb-2 d-none">
                        <label class="font-weight-bold" for="PaymentMethod2_ExpirationDate">Expiration Date</label>
                        <input class="form-control" asp-for="PaymentMethod2.ExpirationDate" type="month" />
                    </div>
                </div>
            </div>

            

        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="d-flex justify-content-start">
                <input class="btn btn-outline-secondary" formnovalidate asp-for="SubmitAction" type="submit" value="Choose a Different Plan" />
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <input class="btn btn-primary continue-button" asp-for="SubmitAction" type="submit" value="Continue" disabled />
            </div>
        </div>
    </div>
</form>
