@page "/membership/cancel"
@model BodyGenesis.Presentation.Website.Pages.Membership.CancelModel
@{
    ViewData["Title"] = "Cancel Membership";
}

<form method="post">
    <div class="form-row mb-4">
        <div class="col">
            <h3>Membership Cancellation</h3>
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">
            
            @if (!Model.Customer.CurrentMembershipSubscription.CanCancelImmediately)
            {
                <p class="text-center">
                    Memberships cancelled after the 15th do not take effect until the end of the following month. This means <strong>you will be charged for next month's membership</strong>.
                </p>
            }
            <p class="text-center">
                If you cancel now, your membership will be cancelled effective <strong>@Model.Customer.CurrentMembershipSubscription.CancellationEffectiveDate.ToShortDateString()</strong>.
            </p>
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger" type="submit">Confirm Cancellation Request</button>
            </div>
        </div>
    </div>
</form>