@model Piranha.Extend.Blocks.ImageBlock

<div class="block @Model.CssName() p-2">
    <div class="container">
        @if (Model.Aspect.Value == Piranha.Extend.Blocks.ImageAspect.Original)
        {
            <img src="@Url.Content(Model.Body.Media.PublicUrl)"> }

        else
        {
            <img src="@Url.Content(WebApp.Media.ResizeImage(Model, 1110))">
        }
    </div>
</div>