@model Piranha.Extend.Blocks.VideoBlock

<div class="block @Model.CssName() p-2">
    <div class="container">
        <video class="mw-100" controls>
            <source src="@Url.Content(Model.Body)">
            Your browser does not support the video tag.
        </video>
    </div>
</div>