@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.Name
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            @if (User.HasClaim(c => c.Type.Equals(Piranha.Manager.Permission.Admin)))
            {
                <a class="dropdown-item" href="/manager">Site Manager</a>
            }
            <a class="dropdown-item" href="/membership">My Membership</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/oauth/logout">Sign Out</a>
        </div>
    </div>
}

else
{
    <a class="btn btn-primary" href="/oauth/login?redirectUri=@(Uri.EscapeDataString($"{Context.Request.Scheme}://{Context.Request.Host}"))">Sign In</a>
}